<% include partials/header %>
            <div class="row">
                <div class="col">
                    <h1 class="title-header"><%= title %> Home Page</h1>
                    <p>Navigate using the links below.</p>
                    <ul class="homelist">
                        <li><a href="/cats">See all cats</a></li>
                        <!-- <li>Use <a href="/cats/new">'localhost:3001/cats/new'</a></li> -->
                    </ul>
                </div>
            </div>
<% include partials/footer %>